.head {
    color: blueviolet;
    background-color: yellowgreen;
    text-allign: center;
}

.a {
    color: blue;
    background-color: rgb(243, 250, 215);
    text-align: center;
    border: 5px black outset;
}

.b {
    color: brown;
    background-color: aquamarine;
    text-align: center;
    text-size-adjust: 100px;
    border: 5px blueviolet outset;
}